* text=auto
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
configs/Module.symvers text eol=lf
configs/kernel.release text eol=lf
